body.oie{
}


div.oie_section{
	margin: 0.5em;
}


div.oie_section_title{
	background: #DDE;
	text-align: center;
	color: #005A9C;
	font: 120% sans-serif ;
}

div.oie_section_content table{
text-align: left;
/*font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
*/
font-weight: normal;
background-color: #EEE;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;
font: 80% ;
}

div.oie_section_content td{
background-color: #DDD;
color: #000;
/*
padding: 4px;
*/
text-align: left;
border: 1px #fff solid;
}


div.oie_section_content td.header{
background-color: #AAA;
/*
color: #fff;
padding: 4px;
*/
text-align: left;
border-bottom: 2px #fff solid;
font-weight: bold;
}

div.oie_section_content td.has_issue{
color: #000;
}

div.oie_section_content td.has_no_issue{
color: #fff;
}


div.oie_report{
/*	border: 1 solid;
*/
	margin: 0.5em 1em;	
}


div.oie_report_title {
	margin-bottom: 0.5em;	
	color: #005A9C;
	font: bold 100% sans-serif ;
}

div.oie_report_entry {
/*	border: 1 solid;
	display: block;
	padding: 0.5em 1em;	
*/	
	margin: 0.5em 1em;
	background: #EEE;
}

div.oie_entry_abstract {
	font:   100%  sans-serif
}
div.oie_entry_detail {
	font: italic 100% times
}